:root {
  --actual-height: 100vh;
  --header-height: 4rem;
  --footer-height: 2rem;
  --main-width: 100vw;
  --list-margin: 2.5rem;

  --main-bg-color: #eeeeee;
  --header-color: #c6b8b8;
  --main-text-color: #333333;
  --text-shadow: 0px 0px 0.25rem rgba(0, 0, 0, 0.9);
  --shadow-text-color: white;
  --pressed-button-color: #9fc19faa;
  --link-color: rgb(70, 91, 67);
  --font-style: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen;
}

* {
  margin: 0;
}

html {
  width: 100vw;
}

body {
  width: 100vw;
  max-width: 100vw;
  height: var(--actual-height);
  max-height: 100vh;
  font-family: var(--font-style);
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  overflow-x: hidden;
  opacity: 0;
}

body.revealed {
  opacity: 1;
  transition: opacity 300ms ease;
}

body.darkmode {
  --main-bg-color: #181818;
  --header-color: #111111;
  --main-text-color: #828282;
  --shadow-text-color: rgb(122, 122, 122);
  --pressed-button-color: #9fc19f47;
  --link-color: rgb(70, 91, 67);
}

body.princemode {
  --main-bg-color: #2d1647;
  --header-color: #18061e;
  --main-text-color: #bbc06c;
  --shadow-text-color: rgb(148, 162, 69);
  --pressed-button-color: #e8f35329;
  --link-color: rgb(187, 187, 34);
  --font-style: 'Purple Rain';
  --text-shadow: 0px 0px 0.25rem rgb(118, 124, 29);
  font-size: 1.5rem;
  font-kerning: none;
  background-image: linear-gradient(90deg, var(--main-bg-color), #46480f3f, var(--main-bg-color));
}

body.princemode input, 
body.princemode > header, 
body.princemode form button#submit-button {
  font-family: 'Purple Rain';
  font-size: 1.8rem;
}

body.princemode > header {
  color: var(--shadow-text-color);
}

body.princemode > header p {
  transform: scaleX(1.4);
  transform-origin: left;
  font-size: 1.25rem;
  width: 43%;
  padding-left: 0.7rem;
}

body.princemode > footer > p {
  transform-origin: center;
  transform: scaleX(1.4);
  font-size: 1rem;
}

body.princemode #output-area li p {
  text-shadow: 0px 0px 0.5rem rgb(1, 0, 0);
  transform-origin: right;
  transform: scaleX(1.15);
  padding-right: 0.5rem;
}

body.princemode #output-area div:first-child {
  padding: 0 0.25rem;
  padding-bottom: 0.35rem;
}

body.princemode #output-area li {
  height: 3rem;
}

body.princemode input#number-input {
  padding-bottom: 1rem;
  height: 2.9rem;
  background-image: linear-gradient(0deg, var(--main-bg-color), #46480f3f, var(--main-bg-color));
}
body.princemode #number-form p {
  font-size: 1.5rem;
  line-height: 90%;
}

body.princemode button {
  background-image: radial-gradient(var(--main-bg-color), #46480f3f);
}

input, button {
  border-radius: 0.3rem;
}

input {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  min-width: 4rem;
  box-sizing: border-box;
}

button {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  max-width: 8rem;
}

li {
  list-style-type: none;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow-text {
  text-shadow: var(--text-shadow);
  color: var(--shadow-text-color);
}

header {
  height: var(--header-height);
  min-height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: var(--header-color);
}

header p {
  padding-left: 1rem;
  pointer-events: none;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--main-width);
  height: 100%;
}

#header-button-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.header-button {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  width: var(--header-height);
}

#themes-select-button {
  justify-self: flex-end !important;
}

.header-button > img {
  height: calc(var(--header-height) * 0.4);
}

#languages-select-button > img {
  height: calc(var(--header-height) * 0.35);
  margin-top: 20%;
}

#themes-select-button > img {
  height: calc(var(--header-height) * 0.45);
  margin-top: 12%;
}

.down-caret {
  width: 0; 
  height: 0; 
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid var(--shadow-text-color);
  opacity: 0.7;
  margin: 0.5rem 0;
}

.header-menu {
  top: var(--header-height);
  width: var(--header-height);
  background-color: var(--header-color);
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
  z-index: 1;
}

.header-menu.open {
  opacity: 1;
  pointer-events: all;
}

#themes-menu {
  right: var(--header-height);
}

.menu-item {
  min-height: var(--header-height);
  border: 0.2rem outset rgba(0, 0, 0, 0.3);
  transition: all 75ms ease;
  box-sizing: border-box;
}

.menu-item > img {
  pointer-events: none;
}

header .menu-item.pressed {
  background-color: var(--pressed-button-color);
  border-style: inset;
}

.header-button > img {
  transition: opacity 150ms ease;
}

body.darkmode .header-button > img, body.darkmode .header-menu > li {
  filter:brightness(0.5)
}

li.menu-item > img {
  width: calc(var(--header-height) * 0.6);
}
#languages-menu > li.menu-item > img {
  width: calc(var(--header-height) * 0.7);
}
li.menu-item#princemode-button > img {
  width: calc(var(--header-height) * 0.75);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

main {
  align-self: center;
  width: var(--main-width);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#number-form {
  background-color: var(--header-color);
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

#number-form > .curve-knob {
  display: none;
}

#number-form > label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-grow: 1;
}

#number-form > label > p {
  width: min-content;
}

input#number-input {
  position: relative;
  width: 100%;
  height: 2.65rem;
  font-size: 2rem;
  text-align: center;
}

button#submit-button {
  padding: 0 2rem;
  font-size: 1.2rem;
  height: 3rem;
}
button#submit-button:disabled {
  color: unset;
  border-color: #00000044;
  opacity: 0.75;
}

#output-area {
  margin: var(--list-margin) 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: center;
  padding: 0;
  width: calc(var(--main-width) - (var(--list-margin) * 2));
  gap: 0.5rem;
  list-style: none;
  border-radius: 1.25rem;
  opacity: 0;
  transition: opacity 300ms ease;
  overflow-x: hidden;
}

#output-area > li {
  height: 2.25rem;
  align-self: center;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 0.3rem;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 300ms ease-in, opacity 150ms ease;
}

#output-area > li.from-right {
  transform: translateX(100%);
  transform-origin: right;
}

#output-area > li.showing {
  transform: none;
  opacity: 1;
  /* box-shadow: 0 0 0.2rem #000000c4; */
}

#output-area > li > div:first-child {
  border-radius: 0.3rem 0 0 0.3rem;
  width: 2.25rem;
  background-color: #00000022;
}

#output-area > li > div:last-child {
  border-radius: 0 0.3rem 0.3rem 0;
  flex-grow: 1;
  justify-content: flex-end;
  background-color: #00000011;
  padding: 0 0.5rem;
  padding-bottom: 0.2rem;
  text-align: right;
}

footer {
  min-height: calc(var(--header-height) * 0.5);
  font-size: 0.8rem;
  background-color: var(--header-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  :root {
    --main-width: 36rem;
  }

  body.princemode > header p {
    font-size: unset;
  }

  #number-form {
    position: relative;
    border-radius: 0 0 2rem 2rem;
    height: var(--header-height);
    padding: 0.75rem 1.5rem;
  }

  #number-form > .curve-knob {
    display: block;
    position: absolute;
    background-color: var(--main-bg-color);
    width: var(--header-height);
    height: var(--header-height);
    border-radius: 50%;
    top: 0;
    left: 0;
    translate: -100% 0;
    z-index: 1;
  }

  #number-form > .curve-knob.right {
    left: unset;
    right: 0;
    translate: 100% 0;
  }

  #number-form::before {
    content: "";
    display: block;
    position: absolute;
    background-color: inherit;
    width: calc(var(--header-height) * 0.5);
    height: calc(var(--header-height) * 0.5);
    top: 0;
    left: 0;
    translate: -100% 0;
  }
  #number-form::after {
    content: "";
    display: block;
    position: absolute;
    background-color: inherit;
    width: calc(var(--header-height) * 0.5);
    height: calc(var(--header-height) * 0.5);
    top: 0;
    right: 0;
    translate: 100% 0;
  }

  #output-area {    
    width: 24rem;
    overflow: unset;
  }

  #number-form > label > p {
    min-width: max-content;
  }
}